@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
/* style of header and navbar */
.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar-left{
    display:flex ;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
}
.navbar-left p{
    font-size: 25px;
    font-weight: 600;
}
/* style of hamburger */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
/* basic styles of nav element */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
    display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 50%; */
}

.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #475569;
}
.nav-link:hover{
    color: blue;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}
/* styles of banner section */
.banner-section{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.banner-section img{
    object-fit: cover;
}
/* centered text */
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff
    
}
.centered h1{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
   
}
.centered p{
    font-size: 16px;
    text-align: center;
}
.btn-box{
    width: 800px;
    height: 84px;
    padding: 15px 20px;
    background-color: rgb(183, 213, 253);
    margin-top: 24px;
}
.btn-white{
    width: 180px;
    height: 54px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    background-color: #ffffff;
    margin-left: 5px;
}
.btn-orange{
    width: 180px;
    height: 54px;
    padding: 5px 10px;
    border-color: #FF5400;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 5px;
    background-color: #FF5400;
    color: #ffffff;

}
/* style of popular section */
.popular-section{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 550px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 15px;
    margin-top: 32px;
    border-radius: 10px;
  padding: 20px; 
}
.popular-text{
    width: 50%;
}
li{
    list-style-type: disc;
   
}
 .popular-text h2,p{
      margin-top: 32px;
      font-size: 16px;                       
}
.list-item{
    margin-left: 40px;
    margin-top: 20px;
}
.last-dscr{
 margin-bottom: 36px;   
}
.popular-section img{
    width: 50%;
    object-fit: cover;
    width: 540px;
    margin-left: 20px;
}
/* style of destinatuion section */
.destination{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 900px;
    

    
}
.text-container{
    text-align: center;
    margin-top: 32px; 
}
.img-container{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 900PX;
    margin-top: 32px;
    /* align-items: center; */
    /* justify-content: space-between; */
    display: grid;
    /* gap: 5px; */
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,1fr);
    object-fit: cover;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-item-1{
    grid-column: 7/span 12;
    /* grid-row: 1/span 4; */
    min-height: 300PX;
    max-width: 573PX;
   
}
.grid-item-2{
    grid-column: 1/span 3;
    grid-row: 5/span 6;
    /* min-height: 285px; */
}
.grid-item-3{
    grid-column: 4/span 7;
    /* grid-row: 5/span 7; */
    min-height: 285px;
}
.grid-item-4{
    grid-column: 8/span 12;
    /* grid-row: 5/span 7; */
    min-height: 285px;
}
.grid-item-5{
    grid-column: 1/span 5;
    /* grid-row: 8/span 12; */
    min-height: 300px;

}
.grid-item-6{
    grid-column: 6/span 12;
    /* grid-row: 8/span 12; */
    min-height: 300px;
}