@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
/* style of header and navbar */
.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar-left{
    display:flex ;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
}
.navbar-left p{
    font-size: 25px;
    font-weight: 600;
}
/* style of hamburger */
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
/* basic styles of nav element */
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
    display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 50%; */
}

.nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #475569;
}
.nav-link:hover{
    color: blue;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}
/* styles of banner section */
.banner-section{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.banner-section img{
    object-fit: cover;
}
/* centered text */
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ffffff
    
}
.centered h1{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
   
}
.centered p{
    font-size: 16px;
    text-align: center;
}
.btn-box{
    width: 800px;
    height: 84px;
    padding: 15px 20px;
    background-color: rgb(183, 213, 253);
    margin-top: 24px;
}
.btn-white{
    width: 180px;
    height: 54px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    background-color: #ffffff;
    margin-left: 5px;
}
.btn-orange{
    width: 180px;
    height: 54px;
    padding: 5px 10px;
    border-color: #FF5400;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 5px;
    background-color: #FF5400;
    color: #ffffff;

}
/* style of popular section */
.popular-section{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 550px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 15px;
    margin-top: 32px;
    border-radius: 10px;
  padding: 20px; 
}
.popular-text{
    width: 50%;
}
li{
    list-style-type: disc;
   
}
 .popular-text h2,p{
      margin-top: 32px;
      font-size: 16px;                       
}
.list-item{
    margin-left: 40px;
    margin-top: 20px;
}
.last-dscr{
 margin-bottom: 36px;   
}
.popular-section img{
    width: 50%;
    object-fit: cover;
    width: 540px;
    margin-left: 20px;
}
/* style of destinatuion section */
.destination{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 900px;
    

    
}
.text-container{
    text-align: center;
    margin-top: 32px; 
}
.img-container{
    max-width: 1170px;
    margin: 0 auto;
    /* min-height: 900PX; */
    margin-top: 32px;
    /* align-items: center; */
    /* justify-content: space-between; */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    object-fit: cover;
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* min-height: auto; */
    /* min-width: auto; */
}
.grid-item-1{
    grid-column: 7/span 12;
    grid-row: 1/span 1;
    /* min-height: 300PX; */
    /* max-width: 573PX; */
   
}
.grid-item-2{
    grid-column: 1/span 3;
    grid-row: 2/span 1;
    /* min-height: 285px; */
}
.grid-item-3{
    grid-column: 4/span 5;
    grid-row: 2/span 1;
    min-height: 285px;
    /* min-width: auto; */
    /* min-height: auto; */
}
.grid-item-4{
    grid-column: 8/span 12;
    grid-row: 2/span 1;
    /* min-height: 286PX; */
    /* max-width: 274PX;        */
}
.grid-item-5{
    grid-column: 1/span 5;
    grid-row: 3/span 1;
    /* min-height: 300px; */

}
.grid-item-6{
    grid-column: 6/span 12;
    grid-row: 3/span 1;
/* min-height: 300px; */
} 

/* styles of why choose us section */
.choose-us{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 32px;
}
.card-box{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}


.choose-text{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 32px;
}
 .card-1 {
   /* border: 2px solid red;  */
    width: 570px;
    height: 280px;
    text-align: left;
    padding: 30px 40px;
    background-color:antiquewhite;
     
}
.card-2 {
    /* border: 2px solid red;  */
     width: 570px;
     height: 280px;
     text-align: left;
     padding: 30px 40px;
     background-color: lightcyan;
      
  }
  .card-3 {
    /* border: 2px solid red; */
     width: 570px;
     height: 280px;
     text-align: left;
     padding: 30px 40px;
     align-items: center;justify-content: center;
     /* margin-inline-start:230px ; */
     background-color:lightsteelblue;
      
  }
  .perfect-place{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 32px;
    border-radius: 10px;
    padding: 20px; 
  }
  .perfect-place img{
    width: 50%;
object-fit: cover;
width: 540px;
margin-left: 20px;
position:relative;
display:inline-block;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  button {
    background-color: #666;
    border: medium none;
    color: #fff;
    display: block;
    font-size: 18px;
    left: 0;
    margin: 0 auto;
    padding: 8px 16px;
    position: absolute;
    right: 0;
    top: 50%;
}
button.active {
    background-color: #0077a2;
  }
  /* styles of newsletter */
  .news-letter{
    max-width: 1170px;
    margin: 0 auto;
    min-height: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 32px;
    border-radius: 10px;
     
  }
  .newsletter-box{
    width: 40%;
    border: 2px solid #FF5400;
    border-radius: 10px;
    padding:  20px;
  }
  .newsletter-img{
    width: 60%;
    object-fit: cover;
    /* width: 540px; */
    margin-left: 20px;
  }
  .input-box {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    margin-bottom: 24px;
  }
  .inpupt-box{
    width: 392px;
    height: 52px;
  }





